*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common class  */
.btn{
    background-color:#9715ed;
background: linear-gradient(90deg, rgba(151, 21, 237, 1) 5%, rgba(196, 53, 252, 1) 9%, rgba(253, 29, 29, 1) 55%, rgba(252, 176, 69, 1) 100%);
    border:none;
    border-radius: 30px;
    padding: 12px 40px 12px 16px;
    font-size: 16px;
    font-weight:bolder;
    color:white;
    cursor: pointer;
    /* margin-top: 16px; */
}
.btn:hover{
    background-color: #026322;
}
.btn-new{
    background-color: #00FF88;
    padding: 8px 16px;
    font-size: 18px;
    font-weight:bolder;
    border-radius: 20px;
}
.btn-gap{
    color:#00FF88;
    padding:12px;
    background-color: #1A0B2E;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bolder;
    border: 1px solid #00FF88;
}

nav{
    background-color: #1A0B2E;
    /* width:71%; */
    /* max-width: 1140px; */
    margin: 0 auto;
    display: flex;
    justify-content:space-evenly;
    /* align-items: center; */
    padding:16px 16px ;
    color:white;
    
}
nav .menu{
    display:flex;
    list-style-type: none;
    gap:50px;
    align-items: center;
    
}
nav .menu a{
    font-size: 20px;
    color:white;
    text-decoration: none;
}

/* =================Hero Part================ */
.hero-section{
    background-image: url('images/hero-bg.png');
    background-size: cover;
    height: 760px;
}
.hero-image{
    text-align: center;
}
.hero-text{
    text-align: center;
    /* justify-content: center; */
    margin-top: 40px;
    color:#FFFFFF
}
.hero-text h1{
font-size: 60px;
font-weight: bold;
}
.hero-text p{
font-size: 16px;
margin-top: 8px;
margin-bottom: 24px;
}

/* About the Podcast  */
.podcast{
    background-color: #1A0B2E;
    padding: 50px;
    padding: 120px;
}
.text-part{
    color:#ffffff;
    text-align: center;
    margin: 50px 200px 80px 200px;
}
.text-part h1{
    text-transform: capitalize;
    font-size: 48px;
    font-weight: bold;
}
.text-part p{
    margin-top: 16px;
    /* letter-spacing: 1px */
    line-height: 1.5;
     word-spacing: 1px;
    
}
.number-card{
    color:#039e36;
    display: flex;
    justify-content: space-evenly;
    margin: 80px 200px 120px 200px;
}
.number-card p{
    color:#ffffff;
    margin-top: 16px;
    text-transform: uppercase;
}
.number-card h1{
    font-size: 48px;
    margin-left: 20px;
}

/* ================= video part ============= */
.last-part{
    /* background-color: #1A0B2E; */
}
.Episodes{
    color:#FFFFFF;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}
.future{
    color:#FFFFFF;
    font-size: 24px;
    font-weight: bold;
    margin: 24px;
}
.exploring{
    color: #FFFFFF;
    font-size: 16px;
    margin: 12px 24px;
}
.min{
    color:#00FF88;
    margin: 12px 24px 24px 24px;

}
.main-card{
    display: flex;
    gap:110px;
    /* width:1200px; */
    /* height:538px; */
    /* justify-content: center; */
    /* flex-direction: row; */
}
.video-card{
    margin-top: 40px;
    background-color: #250D44;
    border-radius: 30px;
    /* gap:30px; */

}
iframe{
    
}
.last-part-one{
    background-color:#1A0B2E;
}

.last-part-two{
    margin-top: 120px;
}

.host{
    color:#FFFFFF;
    font-size: 48px;
    font-weight: bold;
    margin-top: 120px;
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
}

/* footer part  */
footer{
    background-image: url("images/footer-bg.png");
    /* background-size: cover; */
    padding: 120px;
}

.footer-section p{
    /* padding: 120px; */
    color:#ffffff;
    text-align: center;
    margin-top: 32px;
}
footer h1{
    color:white;
    text-align: center;
    margin: 0 67px 32px 67px;
    
}
.footer-icon{
    display: flex;
    
    /* color: #ffffff; */
    /* text-decoration: none; */
    justify-content: center;
    gap:80px;
    margin-top: 32px;
}
.footer-icon li {
    color:white;
    text-decoration: none;
    list-style-type: none;
    /* top:-50px; */
}
.footer-icon p{
    text-align: center;
    color: #ffffff;
}

/* ================kumar Alex =====================  */
.kumar{
    display: flex;
    /* background-color: #1A0B2E; */
    background-color: #351165;
    margin-top: 40px;
}
.kumar img{
    margin: 40px 24px 40px 40px;
    /* outline: beige; */
    /* border:1px solid white; */
    /* border-radius: 100%; */
    /* font-size: 48px; */
    background-color: #533C72;
    border-radius: 50%;
     
}
.text-kumar{
    margin: 40px;
    color: white;
}
.text-kumar p{
    margin-top: 16px;
}
.alex-icon{
    margin-top: 16px;
    align-items: flex-start;
    
}
